//
// Footer
// --------------------------------------------------


.site-footer {
    
    background-color: $light-gray;
    padding: rem-calc(40 0 0 0);
    
    .widget {
        
        margin-bottom: rem-calc(35);

		.widget-title {
            color: $white;
			font-size: rem-calc(20);
		}
        
        p {
			font-size: rem-calc(15);
			line-height: 1.2; 
            margin-bottom: rem-calc(15);
            
            a {
                color: #CADADE;   
            }
        }
	}
    
    .widget_media_image {
        img {
            display: block;
            margin: 0 auto;   
        }
    }

	.widget_nav_menu {

		.menu {
			margin: 0;
			padding: 0;
			display: block;
		}

		.menu-item {
			display: inline-block;
            margin-bottom: rem-calc(14);
		}

		a {
			color: $black;
			font-size: rem-calc(15);
			line-height: 1.2;
			padding: 0;
            
            &:hover {
                color: $blue;   
            }
		}
	}

	.social-icons {

		@include list-reset;
		height: 48px;
		margin-bottom: rem-calc(30);

		li {
			display: inline-block;
			padding: rem-calc(0 15 30 0);
			height: 48px;

			@include breakpoint(large) {
				padding: rem-calc(0 30 30 0);
			}

		}

		a {
			transition: 250ms;
			width: 48px;
			height: 48px;
			display: block;
		    background-color: rgba(#010717, .1);
			border-radius: 50%;
			position: relative;

			&:hover {
			    background-color: #010717;
				border-radius: 50%;

				&:hover {
					svg {
						fill: $white;
					}
				}
			}
		}

		svg {
			width: 28px;
			height: auto;
			fill: $dark-gray;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

	}
    
    
    .copyright {
        
        text-align: center;
        
        p {
            color: #000;
            font-size: rem-calc(15);
            line-height: 1.866666667;  
            
            a {
                text-decoration: underline;
                color: #000;
                
                &:hover {
                    color: $blue;   
                }
            }
            
            i:first-child {
                display: none;   
            }
            
            span {
                display: block;   
                
                @include breakpoint(large) {
                    display: inline;
                }
            }
        }
    }

}
