//
// Footer
// --------------------------------------------------


.site-footer {
    
    background-color: $light-gray;
    padding: rem-calc(40 0 0 0);
    
    .widget {
        
        margin-bottom: rem-calc(35);

		.widget-title {
            color: $white;
			font-size: rem-calc(20);
		}
        
        p {
			font-size: rem-calc(15);
			line-height: 1.2; 
            margin-bottom: rem-calc(15);
            
            a {
                color: #CADADE;   
            }
        }
	}
    
    .widget_media_image {
        img {
            display: block;
            margin: 0 auto;   
        }
    }

	.widget_nav_menu {

		.menu {
			margin: 0;
			padding: 0;
			display: block;
		}

		.menu-item {
			display: inline-block;
            margin-bottom: rem-calc(14);
		}

		a {
			color: $black;
			font-size: rem-calc(15);
			line-height: 1.2;
            
            &:hover {
                color: $blue;   
            }
		}
	}    
    
    .copyright {
        
        text-align: center;
        
        p {
            color: #000;
            font-size: rem-calc(15);
            line-height: 1.866666667;  
            
            a {
                text-decoration: underline;
                color: #000;
                
                &:hover {
                    color: $blue;   
                }
            }
            
            i:first-child {
                display: none;   
            }
            
            span {
                display: block;   
                
                @include breakpoint(large) {
                    display: inline;
                }
            }
        }
    }

}
