// Global

html,
body {
   height: 100%; 
}

body {
    overflow-x: hidden;   
    background: $light-gray;
}

.site-content {
    background: #ffffff;
	//word-wrap: break-word;	
}

section {
    .grid-container.full {
        padding-right: 0;
        padding-left: 0;
        max-width: rem-calc(1600);
        margin-left: auto;
        margin-right: auto;
    }   
}

.attachment-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    @include breakpoint(1600) {
        max-width: rem-calc(1600);
    }
}

button,
input[type="submit"] {
    cursor: pointer;   
}

input[type="search"] {
	 @include box-sizing(border-box);
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}