/*
Header
---------------------------------------------- */

// Fix for sticky header
.logged-in .site-header,
.logged-in .off-canvas {

    @include breakpoint(xlarge) {
        top: 32px!important;
    } 
 }
 
 .sticky-wrapper {
    height: 68px;
    
    @include breakpoint(xlarge) {
        height: 84px;
    }
 }
 

.site-header {
        
    @include breakpoint(large down) {
        .site-title {
            width: rem-calc(249);
        }
    }
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    z-index: 999;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    
    .wrap {
        height: 68px;
        
        @include breakpoint(xlarge) {
            height: 84px;
        }
    }
}

.site-header {
    
    .wrap {
        max-width: $global-width;
        margin: 0 auto;  
        position: relative;
        
        padding-left: rem-calc(map-get($grid-column-gutter, small)/2); 
        padding-right: rem-calc(map-get($grid-column-gutter, small)/2 + 36px); 
                
        @include breakpoint(xlarge) {
            padding-left: rem-calc(map-get($grid-column-gutter, large)/2 + 36px); 
            padding-right: rem-calc(map-get($grid-column-gutter, large)/2 + 36px); 
        }        
    }

	.site-branding {
        
        .site-title {
            width: rem-calc(122);  
            margin: 0 auto;
            height: 68px;
            
            @include breakpoint(large down) {
                display: flex;
                align-items: center;
            }
            
            @include breakpoint(xlarge) {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);  
                z-index: 9; 
                width: rem-calc(160);             
            }
            
            @include breakpoint(xxlarge) {
                width: auto;             
            }
        }
	}

	.menu-toggle {
        
        width: 36px;
        height: 36px;
        
        background-image: url(../images/hamburger.svg);
        background-size: 36px;
        background-repeat: no-repeat;
        
		position: absolute;
		top: 50%;
        transform: translateY(-50%);
		right: 20px;
		@include breakpoint(xlarge) {
		    left: 25px;
		}

	}
    
    .search-toggle {
        
        width: 20px;
        height: 20px;
        
        background-image: url(../images/search.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        
		position: absolute;
		top: 50%;
        transform: translateY(-50%);
		display: none;
        
		@include breakpoint(xlarge) {
            display: block;
		    right: 25px;
		}

	}
	
}
