// Modals


// fix reveal overflow, we don't want it hidden
 body.is-reveal-open {
    //position: fixed; 
}

.reveal:focus{
    outline: none;
}

.reveal-overlay {
    background-color: rgba(51,51,51,.7);
}

.reveal {
	
    background: transparent;  
    border: none;
    padding-top: 40px;
    
    .close-button {
        font-family: sans-serif;
        font-weight: 300;
		position: absolute;
		top: rem-calc(-5)!important; 
		right: rem-calc(10px);
		font-size: 40px;
		outline: none;
        color: #fff;
        cursor: pointer;
        
        @include breakpoint(large) {
            top: rem-calc(map-get($grid-column-gutter, large)/2); 
		    right: rem-calc(map-get($grid-column-gutter, large)/2);
        }
  	}
    
}