// Modal

.modal-contact {
    
    .wrap {
        background-color: #fff;
    }
    
    .modal-title,
    .modal-body {
        padding: rem-calc(15px 30px);
    }
    
    @include breakpoint(large) {
        
        .modal-body {
           // padding-left: 16px;   
        }
    }
    
        
    .modal-title {
        background-color: $red;
        
        h2 {
            color: #fff;
			margin-bottom: 0;
		}
		
	}
    
    @include breakpoint(large) {
        
        padding-top: rem-calc(70);
        
        .close-button {
            font-size: 70px;
        }
    }
    
}