
.nav-off-canvas {
    
    color: #252B33;
    font-size: rem-calc(30);
    line-height: 1.333333333;
    padding: rem-calc(20 16 40);
    
    i:first-child {
        display: none;   
    }
    
    a {
        color: #252B33;
        font-family: $playfair;
        font-size: rem-calc(30);
        line-height: 1.333333333;
        
        &:hover {
            color: $blue;   
        }
    }
}

.loggedin-hello {
    
    color: #252B33;
    padding: rem-calc(40 16 40);
    
    a {
        &:hover {
            color: $blue;   
        }
    }
}

.nav-primary {
    
    @include breakpoint(large) {
        //max-width: 75%;
    }
    
    border-right: 1px solid $light-gray;
    
    ul {
        @include list-reset;   
        
        li {
            a {
                color: #4A4A4A;
                
                &:hover {
                    color: $blue;   
                }
            }
            
            &.current-menu-item {
                > a {
                  color: $blue;  
                }
            }
        }
    }
    
    .submenu-toggle {
        background-color: $light-gray;    
    }
    
}

.nav-secondary {
	background-color: $dark-gray;
    display: none;

	@include breakpoint(xlarge) {
		background-color: transparent;
        display: block;
        
        .menu {
            @include list-reset;
            display: flex;
            height: rem-calc(84); 
            align-items: center; 
            
            > li {
                /* required for logo positioned in center */
                flex-basis: auto;
            }
        
            > li.logo,
            > li:nth-child(n + 5) {
                order: 3;
            }
            
            > li:nth-child(n + 5) {
                text-align: right;
            }
        
            /* margin auto center aligns logo */
            > li.logo {
                margin-left: auto;
                margin-right: auto;
                flex-basis: auto;
            }   
        }
	}

	.menu-item {
		
		a {
			color: #fff;
            font-size: rem-calc(15);
            letter-spacing: 0.26px;
            line-height: 1.333333333;
            text-transform: uppercase;
            
			padding-top: rem-calc(11.5);
            padding-bottom: rem-calc(11.5);
            
            padding-left: rem-calc(map-get($grid-column-gutter, small)/2); 
            padding-right: rem-calc(map-get($grid-column-gutter, small)/2); 
           
           
            @include breakpoint(medium) {
                padding-left: rem-calc(map-get($grid-column-gutter, medium)/2); 
                padding-right: rem-calc(map-get($grid-column-gutter, medium)/2); 
            }
            
            @include breakpoint(large) {
                padding-left: rem-calc(map-get($grid-column-gutter, large)/2); 
                padding-right: rem-calc(map-get($grid-column-gutter, large)/2);
            }
            
            @include breakpoint(xlarge) {
                color: $black;
                padding-left: rem-calc(map-get($grid-column-gutter, large)/2); 
                padding-right: rem-calc(map-get($grid-column-gutter, large)/2);
            }
            
            @include breakpoint(xlarge only) {
                font-size: rem-calc(13);
                padding-left: rem-calc(map-get($grid-column-gutter, large)/4); 
                padding-right: rem-calc(map-get($grid-column-gutter, large)/4);
            }
            
            &:hover {
                color: $blue;   
            }

		}
        
        @include breakpoint(xlarge) {
            &.current-menu-ancestor,
            &.current_page_parent {
                > a {
                    color: $blue;   
                }
            }
        }
	}
    
    .sub-menu {
        @include list-reset;
        background: $blue;
        
        @include breakpoint(xlarge) {
            background: #fff;  
            margin-left: rem-calc(-7); 
        }
        
        @include breakpoint(xlarge only) {
            background: #fff;  
            margin-left: rem-calc(5); 
        }
        
        .menu-item {
            text-align: left; 
            
            a {
                
                @include breakpoint(large down) {
                    padding-top: rem-calc(13);
                    padding-bottom: rem-calc(13);
                }
                
                &:hover {
                    color: $white;  
                    
                    @include breakpoint(xlarge) {
                        color: $blue;   
                    }
                }
            }
        }
    }
    
    @include breakpoint(large down) {
        .is-dropdown-submenu {
            position: static;
            top: inherit;
            left: inherit;
            border: none;  
            background-color: $blue;
            margin-left: 0; 
        }
    }
}

