// Off Canvas

#site-navigation .off-canvas.position-left {
    
    .close-button {
        color: #fff;   
    }
    
    .site-title {
        background-color: $blue;
        padding: rem-calc(16 40 16 16);
        margin-bottom: rem-calc(40);
    }
}