// Widgets

.widget-area {
 
    .widget {
        
        .widget-title {}

    }
 
}


.social-icons {

    @include list-reset;
    height: 48px;
    margin-bottom: rem-calc(30);

    li {
        display: inline-block;
        padding: 0;
        height: 48px;

    }
    
    a {
        transition: 250ms;
        width: 48px;
        height: 48px;
        display: block;
        position: relative;
        
        &.facebook {
            background-color: #0077b5; // 3C5A99
            &:hover {
                background-color: scale-color(#0077b5, $lightness: 10%);   
            }
        }
        
        &.twitter,
        &.instagram {
            background-color: #1DA1F2; 
            &:hover {
                background-color: scale-color(#1DA1F2, $lightness: 10%);   
            }
        }
        
        &.linkedin,
        &.email {
            background-color: #0077b5;
            &:hover {
                background-color: scale-color(#0077b5, $lightness: 10%);   
            }
        }

        &:hover {
            svg {
                fill: $white;
            }
        }
    }

    svg {
        width: 28px;
        height: auto;
        fill: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}