// Widgets

.widget-area {
 
    .widget {
        
        .widget-title {}

    }
 
}


.hours-phone-directions {
        
    @include list-reset;
    margin-bottom: rem-calc(50);
    margin-left: rem-calc(5);
    
    li {
        padding-left: rem-calc(40); 
        position: relative;
        min-height: 24px;
        margin-bottom: rem-calc(24);
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;   
            background-size: 24px auto;
            background-repeat: no-repeat;
        }
         
        
        &.hours:before {
            background-image: url(../images/footer/time.svg);
        }
        
        &.phone:before {
            background-image: url(../images/footer/phone.svg);
        }
        
        &.directions:before {
            background-image: url(../images/footer/location.svg);
        }
        
        a,
        span {
            font-weight: 600;
            color: $dark-gray;
            font-size: rem-calc(16);
            line-height: 1.1875;   
        }
    }
    
    
    @include breakpoint(xlarge) {
        
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
        
        li {
            padding-right: rem-calc(10);
        }
        
        
    }
    
}
 