*~
.DS_Store
.htaccess
.installedExtras
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/twentyeleven
/wp-content/themes/twentytwelve
/wp-content/themes/twentythirteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentyeighteen
/wp-content/themes/index.php
/wp-content/plugins/index.php
/wp-content/plugins/hello.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

###
# wpengine specific
###
.smushit-status
.gitattributes
_wpeprivate
/wp-content/object-cache.php
/wp-content/mu-plugins/mu-plugin.php
/wp-content/mu-plugins/slt-force-strong-passwords.php
/wp-content/mu-plugins/limit-login-attempts
/wp-content/mu-plugins/wpengine-common
/wp-content/mu-plugins/force-strong-passwords/
/wp-content/mu-plugins/wpe_bnseosnvlsoier_private_ips.php
/wp-content/*.sql

###
# WordPress Specific for for WPE, requried for git push to WPE, good to ignore for most setups
######
# wordpress specific
/wp-config.php
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/upgrade/*
/wp-content/backup-db/*
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/cache/*

###
# sayenko Additions for Pagely
###
/wp-content/mu-plugins/pagely_management.php

###
# sayenko Additions Local configs
######
.DS_Store
.idea
debug.log
/sqldumps
/Search-Replace-*
/wp-config.php
/wp-config-*
/local-config.php
/*.sublime-project
/*.sublime-workspace
/*.sublime-gulp.cache
/local-adminer
/vvv-*
/wp-cli.yml

###
# sayenko Additions for Package Managers
##########
# Composer #
library/vendors/composer/
!assets/js/vendor/
wpcs/
composer.lock
# Bower #
assets/bower_components/*
# NPM #
node_modules
# Codekit #
/codekit-config.json
*.codekit
**.codekit-cache/*

###
# sayenko ignore all but managed mu-plugins
######
/wp-content/mu-plugins/*
!/wp-content/mu-plugins/sayenko-*
!/wp-content/mu-plugins/toolbox
!/wp-content/mu-plugins/wplt-loader.php
!/wp-content/mu-plugins/wp-performance-profiler
!/wp-content/mu-plugins/load-wp-performance-profiler.php

###
# sayenko ignore all but managed plugins
######
/wp-content/plugins/*
!/wp-content/plugins/sayenko-*
!/wp-content/plugins/*-forked

###
# sayenko ignore all but managed theme
######
/wp-content/themes/*
!/wp-content/themes/sayenko-*

###
# sayenko ignores for this site
######
/assets
db.php