// About


.page-template-about {
 
 
    .section-hero {
        background-size: cover;
        padding: 50px 0 60%;
        
        h1 {
            color: $white;   
        }
        
        @include breakpoint(xlarge) {
            height: calc(60vh + 150px);
            padding: rem-calc(150) 0 0;
        }
    }
    

    .section-people-group {

        section:first-child {
            padding-top: rem-calc(75); 
            
            @include breakpoint(xxlarge) {
                padding-top: rem-calc(125);
            }
        }
        
        section:not(:first-child) {
            padding-top: 0; 
        }
        
    }
 
    .section-people {
     
        h2 {
            text-align: left;   
        }
        
        .grid {
            justify-content: flex-start;   
        }
        
    }
    
    
    .section-mission {
        
        background: $gray;
        
        @include breakpoint(medium-large down) {
            
            .grid-container {
                padding: 0;
                
                .grid-margin-x {
                    margin: 0;
                    
                    .cell {
                        width: 100%;
                        margin: 0 auto; 
                    }
                }
            }
        }
        
        .entry-content {
            background-color: $red;
            background-image: url(../images/about/red-bg.jpg);
            background-position: center;
            padding: rem-calc(45);  
            
            
            
            @include breakpoint(large) {
                padding: rem-calc(75);   
                
                max-width: 80%;
                margin: rem-calc(-175) auto 0;  
                position: relative;
                z-index: 4;
            }
            
            text-align: center;
            
            h2 {
                color: #fff;
                margin-bottom: rem-calc(50); 
                
                &:after {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 2px;
                    background-color: $white;
                    margin: rem-calc(20) auto;
                    
                }  
            }
            
            p {
                color: #fff;
                
                @include breakpoint(large) {
                    font-size: rem-calc(24);
                    font-weight: 500;
                    line-height: 1.833333333;
                }
            }
   
        }   
    }
    
    
    .section-core-values {
        
        background: $gray;
        
        padding-top: rem-calc(75);
            
        @include breakpoint(large) {
            padding-top: rem-calc(150);
        } 
        
        
        h2 {
            text-align: center;   
        }
        
        .grid {
            
            padding-top: rem-calc(50);
            
            @include breakpoint(large) {
                padding-top: rem-calc(100);
            } 
            
            .cell {
                
                background: #fff;
                
                margin-bottom: rem-calc(map-get($grid-margin-gutters, small));
                
                @include breakpoint(large) {
                    margin-bottom: rem-calc(map-get($grid-margin-gutters, large));
                }   
            }
                     
            .grid-item {
                display: block;
                position: relative;
                
                text-align: center;
                
                padding: rem-calc( 75 map-get($grid-margin-gutters, small));
                padding-bottom: rem-calc(75); 
                
                @include breakpoint(large) {
                    padding: rem-calc( 125 map-get($grid-margin-gutters, large)); 
                    padding-bottom: rem-calc(75); 
                }
                
                span.number {
                    font-size: 20px;
                    font-weight: 900;
                    letter-spacing: 1px;
                    line-height: 24px;
                    
                    position: absolute;
                    top: 50px;
                    left: 50px
                }
                
                .grid-image {
                    margin-bottom: rem-calc(70);  
                    color: $medium-gray;
                    
                    img,
                    svg {
                        max-width: rem-calc(120);   
                        height: auto;
                    }
                }
                
                header {
                    margin-bottom: rem-calc(40);   
                }
                
                p {
                    color: $dark-gray;   
                }
                
            }
            
        }
    }
    
}




.section-about-history {
    
    padding: rem-calc(100 0);
    
    h1 {
        &:after {
            content: "";
            display: block;
            width: 50px;
            height: 2px;
            background-color: $red;
            margin-top: rem-calc(20);
               
        }
        
        text-transform: capitalize;
        @include breakpoint(medium down) {
            margin-bottom: rem-calc(170);
        }
                
        @include breakpoint(large) {
            margin-bottom: rem-calc(40);
        }
    }
    
    .container {
        position: relative;
        
        .slider {
            opacity: 0;
            visibility: hidden;

            &.images-loaded {
                opacity: 1;
                visibility: visible;
            }   
        }
        
        .slider {
            h4 {
                span {
                    font-weight: 700;
                    color: $medium-gray;   
                }
            }
        }
        
        .entry-content {
            padding-top: rem-calc(40); 
        }
        
        .slider .grid-x > div:last-child {
            padding-bottom: rem-calc(125); 
        }
        
        .slick-slider {
            margin-bottom: 0;   
        }
        
        .slick-arrows {
            width: rem-calc(180);
            display: flex;
            margin: 0 auto;
            margin-bottom: rem-calc(30);
            
            @include breakpoint(medium down) {
                position: absolute;
                top: 80px;
            }
            
            @include breakpoint(xxlarge) {
                top: auto;
                bottom: 0;
                left: calc(50% - 90px - #{map-get($grid-margin-gutters, large)/2});
            }
            
            .slick-prev,
            .slick-next {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                transform: none;
            }
            
        }
        
        .slick-dots {
            display: none!important;
            
            li {
                margin: rem-calc(0 20 0);  
                
                @include breakpoint(xxlarge) {
                    margin: rem-calc(0 40 0 0);  
                }
            }
            
            a {
                color: $dark-gray;
                font-size: rem-calc(16);
                font-weight: 900;   
            }
            
            .slick-active a {
                color: $red;   
            }
            
            @include breakpoint(large) {
                display: block!important;
                position: relative;
                left: auto;
                bottom: auto;
                text-align: center;
            }
            
            @include breakpoint(xxlarge) {
                position: absolute;
                right: 0;
                bottom: rem-calc(45);
                text-align: left;
                width: auto;
                width: 40%;
            }
        }
    }
    
}
