/* CSS Document */

.archive {

}

.grid,
.isotope-grid {
            
    .cell{
        
        // background-color: $light-gray;
        
        margin-bottom: rem-calc(map-get($grid-margin-gutters, small));
        
        @include breakpoint(large) {
            margin-bottom: rem-calc(map-get($grid-margin-gutters, large));
        }      
        
    }
    
                    
    article.post-background {
        border-radius: 1px;
        overflow: hidden;
        position: relative;
        
        .background {
            background-size: cover;
            background-position: center top;
            padding-top: 95%;
        }
        
        @include breakpoint(xlarge) {
            .no-touchevents & {
                &:hover {
                    .permalink {
                        background: linear-gradient(180deg, #000000 0%, rgba(0,0,0,0.5) 100%);
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                    }
                }
            }
        }
        
        .permalink {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%; 
            background: rgba(0,0,0,0.5);
            
            @include breakpoint(xlarge) {
                .no-touchevents & {
                    background: transparent;
                    top: 0;
                    left: 0;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden; 
                    transition: opacity .2s ease-out,visibility .2s ease-out;
                    z-index: -1;
                }
            }
        }
        
        .entry {
            position: relative;  
            padding: rem-calc(20);
             
            @include breakpoint(xlarge) {
                .no-touchevents & {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding: rem-calc(40 40 40 40); 
                }
            }
        }
        
        .excerpt {
            display: none;  
            
            @include breakpoint(xxlarge) {
                .no-touchevents & {
                    display: block;   
                }
            }
        }
                
        h3 {
            color: #FFFFFF;
            font-family: $nunito;
            margin-bottom: 0;
            @include breakpoint(xxlarge) {
                .no-touchevents & {
                    margin-bottom: rem-calc(30);
                }
            }
        }
        
        p {
            color: #FFFFFF;   
        }
        
        span {
            
            display: none;  
            
            @include breakpoint(xxlarge) {
                .no-touchevents & {
                    display: block; 
                    margin-top: auto;
                    color: #FFFFFF;
                    font-family: $nunito;
                    font-size: rem-calc(15);
                    line-height: 1.333333333;
                    text-transform: uppercase;  
                }
            }
            
            
        }
    }

}


.singe-post,
.single-case_study {
    .entry-footer {
        
        margin-top: rem-calc(30);
        
        .wrap {
            position: relative; 
        }
        
        h3 {
            color: $medium-gray; 
            letter-spacing: 0.7px;
            font-style: normal;
            overflow: hidden;
            margin-bottom: 15px; 
            text-align: center;
            
            span {
                display: inline-block;
                position: relative; 
                
            }
            span:before,
            span:after {
              content: '';
              position: absolute;
              height: auto;
              border-top: 1px solid #D7D5D5;
              top: 50%;
              transform: translateY(-50%);
              width: 999em;
            }
            span:before {
              right: 100%;
              margin-right: 18px;
            }
            span:after {
              left: 100%;
              margin-left: 18px;
            }
        }

    }  
        
}