/* CSS Document */

.archive {

}

.grid,
.isotope-grid {
            
    .cell{
        
        background-color: $light-gray;
        
        margin-bottom: rem-calc(map-get($grid-margin-gutters, small));
        
        @include breakpoint(large) {
            margin-bottom: rem-calc(map-get($grid-margin-gutters, large));
        }      
        
    }
    
                    
    article.post-background {
        border-radius: 1px;
        overflow: hidden;
        position: relative;
        
        .background {
            background-size: cover;
            background-position: center top;
            padding-top: 95%;
        }
        
        &:hover {
            .permalink {
                background: linear-gradient(180deg, #000000 0%, rgba(0,0,0,0.5) 100%);
                opacity: 1;
                visibility: visible;
            }
        }
        
        .permalink {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%; 
            //opacity: 0;
            //visibility: hidden; 
            transition: opacity .2s ease-out,visibility .2s ease-out;
        }
        
        .entry {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: rem-calc(40 40 40 40); 
            position: relative;   
        }
        
        @include breakpoint(large down) {
            .excerpt {
                display: none;   
            }
        }
                
        h3 {
            color: #FFFFFF;
            margin-bottom: rem-calc(30);
        }
        
        p {
            color: #FFFFFF;   
        }
        
        span {
            margin-top: auto;
            color: #FFFFFF;
            font-family: $nunito;
            font-size: rem-calc(15);
            line-height: 1.333333333;
            text-transform: uppercase;
        }
    }

}
