/* CSS Document */

.archive {

}

.grid,
.isotope-grid {
            
    .cell{
        
        // background-color: $light-gray;
        
        margin-bottom: rem-calc(map-get($grid-margin-gutters, small));
        
        @include breakpoint(large) {
            margin-bottom: rem-calc(map-get($grid-margin-gutters, large));
        }      
        
    }
    
                    
    article.post-background {
        border-radius: 1px;
        overflow: hidden;
        position: relative;
        
        .background {
            background-size: cover;
            background-position: center top;
            padding-top: 95%;
        }
        
        @include breakpoint(xlarge) {
            .no-touchevents & {
                &:hover {
                    .permalink {
                        background: linear-gradient(180deg, #000000 0%, rgba(0,0,0,0.5) 100%);
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                    }
                }
            }
        }
        
        .permalink {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; 
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            
            
            @include breakpoint(xlarge) {
                .no-touchevents & {
                    background: transparent;
                    opacity: 0;
                    visibility: hidden; 
                    
                    transition: opacity .2s ease-out,visibility .2s ease-out;
                    z-index: -1;
                }
            }
        }
        
        .entry {
            position: relative;  
            padding: rem-calc(20);
            background: rgba(0,0,0,0.5);
             
            @include breakpoint(xlarge) {
                .no-touchevents & {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding: rem-calc(40 40 40 40); 
                    background: transparent;
                }
            }
        }
        
        .excerpt {
            display: none;  
            
            @include breakpoint(xxlarge) {
                .no-touchevents & {
                    display: block;   
                }
            }
        }
                
        h3 {
            color: #FFFFFF;
            font-family: $nunito;
            margin-bottom: 0;
            @include breakpoint(xxlarge) {
                .no-touchevents & {
                    margin-bottom: rem-calc(30);
                }
            }
        }
        
        p {
            color: #FFFFFF;   
        }
        
        span {
            
            display: none;  
            
            @include breakpoint(xxlarge) {
                .no-touchevents & {
                    display: block; 
                    margin-top: auto;
                    color: #FFFFFF;
                    font-family: $nunito;
                    font-size: rem-calc(15);
                    line-height: 1.333333333;
                    text-transform: uppercase;  
                }
            }
            
            
        }
    }

}


.single-post,
.single-case_study {
    .entry-footer {
        text-align: center;
        margin-top: rem-calc(30);
        
        .wrap {
            position: relative; 
        }
        
        h3 {
            position: relative;
            display: inline-block;
            color: $medium-gray; 
            letter-spacing: 0.7px;
            font-style: normal;
            margin-bottom: 15px; 
            text-align: center;
            
            padding: rem-calc(0 40);
            margin-bottom: rem-calc(45);
            
            @include breakpoint(large) {
                padding: rem-calc(0 140); 
            }
            
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 1px;
                background: #b9b9b9; 
                
                
            }
            
            span {
                display: inline-block;
                padding: rem-calc(0 24);
                background: #fff;  
                position: relative;
                z-index: 2; 
            }
        }

    }  
        
}