// Single Post

.single-case_study {
    
    .section-slideshow {
        opacity: 0;
        visibility: hidden;
        
        &.images-loaded {
            opacity: 1;
            visibility: visible;
        }   
    }
    
    .section-slideshow .slider {
        max-width: rem-calc(2000); 
        margin: 0 auto;  
    }
    
    .slick-slide img {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        height: auto;
     }
     
     .slick-arrow {
        display: block!important;  
        z-index: 9;
        
        @include breakpoint(xxlarge) {
            
            &.slick-prev {
                left: 5%;   
            }
            
            &.slick-next {
                right: 5%;  
            }
        }
     }
    
    .slick-slide .twentytwenty-container img {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
     }
    
     .slick-active .twentytwenty-container img {
        position: absolute;
    }
        
    .slick-slide:not(.slick-active) {
        .twentytwenty-container {
          height: auto!important;
          .twentytwenty-after {
            display: none!important;
          }
          .twentytwenty-overlay {
            display: none;   
          }
        }
        
        @include breakpoint(1024) {
            .slide {
                position: relative;
                
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-color: rgba(255,255,255,0.8); 
                }
            }
        }
    }
    
    .slick-active { 
      padding: 0; 
    }
    
    .slick-center { 
      //transform: scale(1.08) 
    }
    
    .slick-slide:not(.slick-active) { 
      
    }
    
    .slick-slide:not(.slick-active) { 
        cursor: pointer; 
        margin: 0; 
        
        .caption {
            @include breakpoint(xxlarge) {
                opacity: 0;
                visibility: hidden;   
                transition: visibility 0s linear 300ms, opacity 300ms;   
            }
        }
    }
    
    
    .slick-slide:not(.slick-center) .twentytwenty-handle {
        //left: 100%;
    }
    
    .twentytwenty-overlay {
        //visibility: hidden;
    }
    
    .slide {
        position: relative;
        
        .caption {
            padding: rem-calc(10);
            opacity: 1;
            visibility: visible; 
            z-index: 9;
            color: #FFFFFF;
            font-family: Georgia;
            font-size: 18px;
            letter-spacing: 0.7px;
            line-height: 26px;
            background: #000;
            
            @include breakpoint(xxlarge) {
                position: absolute;
                bottom: 0;
                left: 0;
                background: transparent;
            }
            
        }
    }
    
    article {
        
        padding-top: rem-calc(40);
        
        h1 {
            font-weight: 700;   
        }
        
        
    }
    
    #secondary {
        
        .overview {
            
            h4 {
               font-weight: 900;
               text-transform: uppercase; 
               font-family: $nunito; 
               margin-bottom: rem-calc(5); 
            }
                
            ul {
                padding-top: rem-calc(10);
                position: relative;
                
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0; 
                    height: 1px;
                }
                
                &:before {
                    left: 0;
                    width: 100%;
                    background-color: #b6b6b6;
                }
                
                &:after {
                    right: -30px;
                    width: 60px;
                    background-color: #000; 
                }
                
                li {
                    
                    margin-bottom: rem-calc(9);
                    
                    a {
                        color: #252B33;
                        font-size: rem-calc(17);
                        letter-spacing: 0.3px;
                        line-height: 1.125;   
                        text-transform: uppercase; 
                    }
                }
            }
	
        }
        
        .case-study-meta,
        .treating-clinicians {
            position: relative;
             
            margin-top: rem-calc(6); 
            
            &:before {
                content: '';
                display: block;
                width: 70px;
                height: 1px;
                background-color: #b6b6b6;   
                margin-bottom: rem-calc(16); 
            }
            
            li {
                color: #454C54; 
                
                strong {
                    color: #252B33;
                }
            }
        }
        
        .treating-clinicians {
            h6 {
                font-weight: 700;   
            }
        }
    }
    
    
    @include breakpoint(xxlarge) {
        
        #secondary {
            width: rem-calc(268);    
        }
        
        .sidebar {
            background-color: #F5F5F5;
            margin-top: rem-calc(20);
            padding: rem-calc(70 30);  
        }
    }
    
    @include breakpoint(xxxlarge) {
        .sidebar {
            margin-left: -50px;
        }
    }
}
