// Single Post

.single-case_study {
    
    .section-slideshow {
        opacity: 0;
        visibility: hidden;
        
        &.images-loaded {
            opacity: 1;
            visibility: visible;
        }
        
        .slick {
            @include breakpoint(xxlarge) {
                position: relative;
            
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: calc((100% - 1200px) / 2 ); 
                    top: 0;   
                    background-color: rgba(255,255,255,0.8); 
                    height: 100%;
                    display: block;
                    z-index: 3;
                }
                
                &:before {
                    left: 0;
                }
                
                &:after {
                    right: 0;
                }   
            }
            
        }
        
        .slick-slide {
            width: 100%;
            @include breakpoint(xxlarge) {
                width: 1200px!important;  
            }
        }
    }
    
    .section-slideshow .slider {
        max-width: rem-calc(2000); 
        margin: 0 auto;  
    }
    
    .slick-slide img {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        height: auto;
     }
     
     .slick-arrow {
        display: block!important; 
        z-index: 9;
        
        @include breakpoint(xxlarge) {
            
            &.slick-prev {
                left: 5%;  
                z-index: 99;
            }
            
            &.slick-next {
                right: 5%;  
                z-index: 99;
            }
        }
     }
     
     @include breakpoint(xlarge down) {
    
        .slick-arrows {
            display: flex;
            justify-content: space-between;
            margin-top: rem-calc(30);
            
            .slick-next {
                margin-left: auto;   
            }
        }
        .slick-prev, .slick-next {
            position: static;
            top: auto;
            left: auto;
            right: auto;  
            transform: none;    
        }
    }
    
    .slick-slide .twentytwenty-container img {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
     }
    
     .slick-active .twentytwenty-container img {
        position: absolute;
    }
        
    .slick-slide:not(.slick-active) {
        .twentytwenty-container {
          height: auto!important;
          .twentytwenty-after {
            display: none!important;
          }
          .twentytwenty-overlay {
            display: none;   
          }
        }        
    }
    
    .slick-active { 
      padding: 0; 
    }
    
    .slick-center { 

    }
    
    
    .slick-slide:not(.slick-active) { 
        cursor: pointer; 
        margin: 0; 
        
        .caption {
            @include breakpoint(xxlarge) {
                opacity: 0;
                visibility: hidden;   
                transition: visibility 0s linear 300ms, opacity 300ms;   
            }
        }
    }
    
    
    .slick-slide:not(.slick-center) .twentytwenty-handle {
        //left: 100%;
    }
    
    .twentytwenty-overlay {
        //visibility: hidden;
    }
    
    .slide {
        position: relative;
        
        .caption {
            padding: rem-calc(16 18);
            opacity: 1;
            visibility: visible; 
            z-index: 9;
            color: #FFFFFF;
            font-family: Georgia;
            font-size: 18px;
            letter-spacing: 0.7px;
            line-height: 26px;
            background: #000;
            
            @include breakpoint(medium) {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                //background: transparent;
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
            }
            
            &__text {
                position: relative;
                padding-left: 56px;
                padding-top: 10px;
                min-height: 46px;
                
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 46px;
                    height: 46px;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='23' cy='23' r='22.4' fill='%23000' fill-opacity='.8' stroke='%23FFF' stroke-width='1.2'/%3E%3Cg fill='%23FFF' fill-rule='nonzero'%3E%3Cpath d='M33.423 14.4a1.497 1.497 0 0 0-1.1-.456H13.662c-.43 0-.796.153-1.1.457a1.504 1.504 0 0 0-.456 1.102v15.584c0 .43.152.797.456 1.101.304.305.67.457 1.1.457h18.662c.43 0 .797-.152 1.1-.457.304-.304.456-.671.456-1.101V15.503c0-.43-.152-.798-.456-1.102zm-18.207.323h4.666v1.559h-4.666v-1.559zm17.108 16.364H13.66v-1.559h18.663v1.559zm-13.998-6.989c0-1.29.456-2.392 1.367-3.305.912-.913 2.011-1.37 3.299-1.37 1.288 0 2.388.457 3.299 1.37s1.367 2.015 1.367 3.305-.456 2.393-1.367 3.306c-.911.913-2.01 1.37-3.299 1.37-1.288 0-2.387-.457-3.299-1.37-.911-.913-1.367-2.015-1.367-3.306zm13.998-6.915v1.436H13.66v-1.558h7.825l.777-1.558h10.06v1.68z'/%3E%3Cpath d='M25.191 26.302a3.006 3.006 0 0 0 .912-2.204c0-.86-.304-1.595-.912-2.203a2.993 2.993 0 0 0-2.199-.914c-.859 0-1.592.305-2.2.914a3.006 3.006 0 0 0-.91 2.203c0 .86.303 1.595.91 2.204.608.609 1.341.913 2.2.913.859 0 1.592-.304 2.2-.913zm-3.025-3.056c-.227.227-.34.503-.34.828a.38.38 0 0 1-.11.28.377.377 0 0 1-.28.11.378.378 0 0 1-.279-.11.38.38 0 0 1-.11-.28c0-.536.191-.994.572-1.376a1.87 1.87 0 0 1 1.373-.572c.113 0 .207.036.28.11.073.072.109.166.109.28a.38.38 0 0 1-.11.28.378.378 0 0 1-.28.11c-.323 0-.598.113-.825.34z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");   
                }
            }
            
        }
    }
    
    #primary article {
        
        padding-top: rem-calc(40);
        
        h1 {
            font-weight: 700; 
            margin-bottom: rem-calc(50);  
        }
        
        .intro {
            
            margin-bottom: rem-calc(75);
            
            .first-letter {
                float: left;
                text-transform: uppercase;
                font-style: normal;
                font-family: $playfair;
                font-size: rem-calc(76);
                line-height:.68;
                font-weight: 700;
                margin:.05em .1em 0 0;
            }
            
            p {
                font-size: rem-calc(20);   
            }
            
            > *:last-child {
                margin-bottom: 0;   
            }
        }
        
    }
    
    #primary section {
        
        padding-bottom: rem-calc(25);
        
        &.content-alignment-center {
            text-align: center;   
        }
        
        &.background-color-gray {
            position: relative;
            overflow: hidden;
            
            padding-top: rem-calc(75);   
            margin-bottom: rem-calc(75);
            
            &:before {
                content: '';
                width: 200vw;
                background-color: $light-gray;  
                position: absolute;
                top: 0;
                left: -50vw; 
                height: 100%;
                display: block;
            }
               
        }
        
        .wrap {
            position: relative;
            z-index: 2;
        }
        
        .cell {
            > *:last-child {
                margin-bottom: 0;   
            }
        }
        
        ul {
            @include bullets;      
        }
        
        ol {
            @include list-reset;
            counter-reset: circle-counter;
            
            li {
                counter-increment: circle-counter;
                position: relative;
                min-height: 32px;
                padding: 0 0 5px 46px;
                line-height: inherit;
                margin: rem-calc(0 auto 10 0);
        
                &:before {
                    color: #000;
                    content: counter(circle-counter);
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    display: inline-block;
                    line-height: 29px;
                    text-align: center;
                    position: absolute;
                    border-radius: 50%;
                    border: 2px solid #000;
                    position: absolute;
                    top: -4px;
                    left: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .section-photos {
        .photos {
            > div:not(:last-of-type) {
                margin-bottom: rem-calc($global-margin);
            }
        }   
    }
    
    #secondary {
        
        .sidebar {
            background-color: #F5F5F5;
            margin-top: rem-calc(20);
            padding: rem-calc(70 30); 
            margin-bottom: rem-calc(30); 
        }
        
        .overview {
                        
            h4 {
               font-weight: 900;
               text-transform: uppercase; 
               font-family: $nunito; 
               margin-bottom: rem-calc(5); 
            }
                
            ul {
                padding-top: rem-calc(10);
                position: relative;
                
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0; 
                    height: 1px;
                }
                
                &:before {
                    left: 0;
                    width: 100%;
                    background-color: #b6b6b6;
                }
                
                &:after {
                    right: -30px;
                    width: 60px;
                    background-color: #000; 
                }
                
                li {
                    
                    margin-bottom: rem-calc(9);
                    
                    a {
                        color: #252B33;
                        font-size: rem-calc(17);
                        letter-spacing: 0.3px;
                        line-height: 1.125;   
                        text-transform: uppercase; 
                    }
                }
            }
	
        }
        
        .case-study-meta,
        .treating-clinicians {
            position: relative;
             
            margin-top: rem-calc(6); 
            
            &:before {
                content: '';
                display: block;
                width: 70px;
                height: 1px;
                background-color: #b6b6b6;   
                margin-bottom: rem-calc(16); 
            }
            
            li {
                color: #454C54; 
                
                strong {
                    color: #252B33;
                }
            }
        }
        
        .treating-clinicians {
            h6 {
                font-family: $nunito;
                font-weight: 700;   
            }
        }
    }
    
    
    @include breakpoint(xlarge) {
        
        .grid-x {
            position: relative;
        } 
        
        #secondary {
            width: rem-calc(290);  
        }        
    }
    
    @include breakpoint(xxxlarge) {
        .sidebar {
            margin-left: -50px;
        }
    }
    
    @include breakpoint(xlarge down) {
        .sticky-container {
            height: auto!important;
            
            .sticky {
                top: auto!important;     
            }
        }
    }
    
    .section-related-posts {
        padding: rem-calc(75 0 45);
        
        h2 {
            position: relative;
            display: inline-block;
            padding: rem-calc(0 40);
            margin-bottom: rem-calc(45);
            
            @include breakpoint(large) {
                padding: rem-calc(0 140); 
            }
            
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 1px;
                background: #b9b9b9; 
                
                
            }
            
            span {
                display: inline-block;
                padding: rem-calc(0 24);
                background: #fff;  
                position: relative;
                z-index: 2; 
            }
        }
    }
}


a[data-fancybox] {
    &.expand-icon {
        display: inline-block;
        position: relative;   
        
        &:before,
        &:after {
            content: '';
            position: absolute;
            z-index: 3;   
        }
        
        &:before {
            width: 70px;
            height: 66px;
            background: $blue;
            top: 0;
            left: 0;
            display: block;
        }
        
        &:after {
            top: 13px;
            left: 15px;
            width: 40px;
            height: 40px;
            display: block;
            background-size: 40px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39'%3E%3Cg fill='none' fill-rule='nonzero'%3E%3Cpath fill='%23FFF' d='M0 .979v36.986c0 .542.438.98.979.98h17.829a.978.978 0 1 0 0-1.959H1.95V1.95h35.036v16.754a.978.978 0 1 0 1.958 0V.98A.978.978 0 0 0 37.965 0H.98A.978.978 0 0 0 0 .979z'/%3E%3Cpath fill='%23D7D5D5' d='M38.936 37.957V24.403a.978.978 0 0 0-.979-.98H24.403a.978.978 0 0 0-.98.98v13.562c0 .542.439.98.98.98h13.562a.989.989 0 0 0 .971-.988zm-1.95-.97H25.374V25.373h11.612v11.612z'/%3E%3Cpath fill='%23FFF' d='M17.494 7.808a.978.978 0 0 0-.979-.979H7.808a.978.978 0 0 0-.979.979v8.715a.978.978 0 1 0 1.958 0v-6.367l11.04 11.04a.97.97 0 0 0 .692.286.97.97 0 0 0 .692-.287.97.97 0 0 0 0-1.377L10.156 8.78h6.36a.977.977 0 0 0 .978-.971z'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
    
}

a.fancybox {
    display: inline-block;
        position: relative;   
        
        &:before,
        &:after {
            content: '';
            position: absolute;
            z-index: 3;   
        }
        
        &:before {
            width: 70px;
            height: 66px;
            background: $blue;
            top: 0;
            left: 0;
            display: block;
        }
        
        &:after {
            top: 13px;
            left: 15px;
            width: 40px;
            height: 40px;
            display: block;
            background-size: 40px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39'%3E%3Cg fill='none' fill-rule='nonzero'%3E%3Cpath fill='%23FFF' d='M0 .979v36.986c0 .542.438.98.979.98h17.829a.978.978 0 1 0 0-1.959H1.95V1.95h35.036v16.754a.978.978 0 1 0 1.958 0V.98A.978.978 0 0 0 37.965 0H.98A.978.978 0 0 0 0 .979z'/%3E%3Cpath fill='%23D7D5D5' d='M38.936 37.957V24.403a.978.978 0 0 0-.979-.98H24.403a.978.978 0 0 0-.98.98v13.562c0 .542.439.98.98.98h13.562a.989.989 0 0 0 .971-.988zm-1.95-.97H25.374V25.373h11.612v11.612z'/%3E%3Cpath fill='%23FFF' d='M17.494 7.808a.978.978 0 0 0-.979-.979H7.808a.978.978 0 0 0-.979.979v8.715a.978.978 0 1 0 1.958 0v-6.367l11.04 11.04a.97.97 0 0 0 .692.286.97.97 0 0 0 .692-.287.97.97 0 0 0 0-1.377L10.156 8.78h6.36a.977.977 0 0 0 .978-.971z'/%3E%3C/g%3E%3C/svg%3E");
        }
}