// Contact

.template-contact {
    
    
        
    .entry-content {
        background-color: #fff;
        padding: rem-calc(50 0); 
        
        @include breakpoint(large) {
            padding: rem-calc(100 0 100); 
        }

        
        h1 {
            margin-bottom: rem-calc(10);   
        }
       
        .panel {
            border-radius: 2px;
            border: 1px solid #000;
            box-shadow: 0 11px 12px 0 rgba(0,0,0,0.1);
            padding: rem-calc(40 30); 
            
            @include breakpoint(large) {
                padding: rem-calc(60 80 60 40); 
            }            
        }
        
        .show-for-large {
            .panel {
                margin-top: rem-calc(180);
                margin-left: rem-calc(-28);
                padding: rem-calc(90 40 60 80);
                
                &:before {
                    content: '';
                    display: block;
                    width: 90px;
                    height: 1px;
                    background: $blue;
                    position: relative;
                    top: -110px;
                    left: -80px;
                }
            }
        }

    }
        
   
    
}
