//
// Front Page
//

.home {
        
    main {
        
    }
    
    .trending {
        
        .post {
            a {
                display: block;   
            }
        }
        
        .background {
            background-size: cover;
            background-position: center top;
            padding-top: 95%;   
        }
        
        .number {
            
        }
    }
    
    .layout-wide {
        
        .trending {
            
        }
    }
    
    .layout-normal {
        
        .trending {
            
        }
    }
    
}