//
// Front Page
//

.home {
        
    main {
        
    }
    
    .featured {
        .entry-author a {
            color: #252B33;
            font-family: $playfair;
            font-size: rem-calc(15);
            line-height: 1.666666667;
            text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);   
        }
    }
    
    .trending {
        
        .post {
            a {
                display: block;   
            }
        }
        
        .background {
            background-size: cover;
            background-position: center top;
        }        
    }
    
    .layout-wide {
        
        .featured {
            .post {
                padding: rem-calc(100 0);
                
                h3 {
                    color: #000;   
                }
                
                .entry-author {
                    &:before {
                        content: '';
                        display: block;
                        height: 1px;
                        width: 37px;
                        background: #BC2502;
                        margin: rem-calc(40 0 18);
                    }
                }
            }
        }
        
        .trending {
            
            h2 {
                display: inline-block;
                position: relative;
                padding-left: 84px;
                
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    height: 1px;
                    width: 60px;
                    background: #000000;
                }
            }
            
            .background {
                padding-top: 95%;  
            }   
            
            .number {
                background: #ffffff;
                border-radius: 100%;
                width: rem-calc(110);
                height: rem-calc(110);
                position: relative;
                margin: -36px auto;
                
                span {	
                    font-size: 34px;
                    line-height: 46px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            
            .entry {
                padding: rem-calc(64 40 80);  
                
                span {
                    color: #000;
                    font-size: rem-calc(15);
                    line-height: 1.333333333;
                    text-transform: uppercase;     
                }
            }
        }
    }
    
    .layout-normal {
        
        padding-top: rem-calc(18);
        
        .featured {
            @include breakpoint(large) {
                padding-right: rem-calc(30);
            } 
            
            .post {
                padding-top: rem-calc(35);   
            }
        }
        
        .trending {
            
            pading-top: rem-calc(24);
            
            h2 {
                display: inline-block;
                text-align: right;
                position: relative;
                padding-right: 84px;
                margin-bottom: rem-calc(40);
                
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    height: 1px;
                    width: 60px;
                    background: #000000;
                }
            }
                        
            .background {
                padding-top: 58.75%;  
            } 
            
            .number {
                background: #ffffff;
                border-radius: 100%;
                width: rem-calc(60);
                height: rem-calc(60);
                position: relative;
                margin: -70px 0 0 10px;
                
                span {	
                    font-size: 24px;
                    line-height: 32px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            
            .entry {
                
                padding: rem-calc(24 10 30); 
                
                h3 {
                    margin-bottom: 0;   
                }
                
                p,
                span {
                    display: none;   
                }
                
                .entry-author {
                    position: absolute;
                    padding-right: rem-calc(47);
                    
                    &:after {
                        content: '';
                        display: block;
                        height: 1px;
                        width: 37px;
                        background: #BC2502;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    
    .section-articles {
        .menu {
            
            margin-bottom: rem-calc(15);
            
            li {
                cursor: pointer; 
                text-transform: uppercase;
                letter-spacing: 0.26px;
                font-size: rem-calc(15);
                line-height: 1.2;  
            }
        }
    }
    
}