// Page
body {
	max-width: 2560px;
	margin: 0 auto;
}

.page-template-default,
.page-template,
.error404,
.memberpressproduct-template-default,
.template-memberpress {
    
    .entry-header {
        h1 {
            &:after {
                content: '';
                height: 1px;
                width: 98px;
                border: 1px solid $blue; 
                margin-top: rem-calc(10);  
                display: block;
            }
            
            margin-bottom: rem-calc(75);
        }
    }
    
    .site-main {
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(50);
        min-height: rem-calc(300);
    }
    
}

.error404 {
    
    .site-main {
        .button-wrapper {
            padding-top: rem-calc(40);   
        }
    }
    
    .entry-header {
        h1 {
            &:after {
                content: '';
                height: 1px;
                width: 98px;
                border: 1px solid $blue; 
                margin-top: rem-calc(10);  
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            
            margin-bottom: rem-calc(75);
        }
    }
    
 }