// Single Post

.single-post {
        
    .section-hero {        
        img {
            margin: 0 auto;   
        }
        
       
    }
    
    .content-area {
        max-width: rem-calc(768);
        margin: 0 auto;
        margin-bottom: rem-calc(45);   
    }
                
    article {
        
        .entry-header {
            text-align: center;   
            margin-top: rem-calc(50);
            
            .post-categories {
                @include list-reset;
                margin-bottom: rem-calc(15);
                
                li {
                    display: inline-block;
                    margin-bottom: rem-calc(10);   
                }
                
                a {
                    color: #252B33;
                    font-family: $playfair;
                    font-size: rem-calc(15);
                    line-height: 1.666666667;
                    text-align: center;
                    text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                    text-transform: uppercase;
                }
            }
            
            h2 {
                marghin-bottom: rem-calc(30);   
            }
            
            .entry-author {
                font-family: $nunito;
                font-size: rem-calc(20);
                line-height: 1.45;
                margin-bottom: rem-calc(10);
                
                a {
                    color: $gray;   
                }
            }
            
            .posted-on {
                margin-top: rem-calc(25);
                color: $medium-gray;
                font-family: $nunito;
                font-size: rem-calc(15);
                line-height: 1.333333333;
                text-align: center;
            }
        }
        
        .post-hero {
            margin-top: rem-calc(40);   
        }
                        
        .entry-content {   
        
            margin-top: rem-calc(40);   
                    
            img {
                box-shadow: $box-shadow;              
            }
            
            .wp-block-media-text {
                img {
                    margin-bottom: $global-margin;   
                }
            }
            
            p.has-drop-cap:not(:focus):first-letter {
               font-family: $playfair;
               font-size: rem-calc(76);
               line-height:.68;
               font-weight: 700;
               margin:.05em .1em 0 0;
            }
            
            @include breakpoint(xxlarge) {
                .wp-block-media-text {
                    > .wp-block-media-text__media {
                        margin-left: -100px;
                    }
                    
                    &.has-media-on-the-right {
                        > .wp-block-media-text__media {
                            margin-left: auto;
                            margin-right: -100px;
                        }
                    }
                }
            }
        }
        
        
    }
        
    .entry-footer {
        
        margin-top: rem-calc(30);
        
        .wrap {
            position: relative; 
        }
        
        h3 {
            color: $medium-gray; 
            letter-spacing: 0.7px;
            font-style: normal;
            overflow: hidden;
            margin-bottom: 15px; 
            text-align: center;
            
            span {
                display: inline-block;
                position: relative; 
                
            }
            span:before,
            span:after {
              content: '';
              position: absolute;
              height: auto;
              border-top: 1px solid #D7D5D5;
              top: 50%;
              transform: translateY(-50%);
              width: 999em;
            }
            span:before {
              right: 100%;
              margin-right: 18px;
            }
            span:after {
              left: 100%;
              margin-left: 18px;
            }
        }

    }
    
}
